.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #eee;
    
  }
  
  .header .logo img {
    max-height: 50px;

  }
  
  .header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;

  }
  
  .header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;

  }

  .header nav ul li a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra ao redor do botão ao passar o mouse */
    transform: translateY(-2px); /* Eleva ligeiramente o botão para um efeito 3D */
  }
  